.gitignore
config.php
admin/config.php
system/storage/cache/
admin/view/image/patterns/
catalog/view/theme/bigshop/image/
catalog/view/theme/bigshop/js/
catalog/view/theme/bigshop/stylesheet/
catalog/view/theme/bigshop/template/error/
catalog/view/theme/bigshop/template/affiliate/

catalog/view/theme/bigshop/template/mail/

image/cache/
getdata.php
system/bigshop_theme.ocmod.xml
catalog/view/javascript/jquery/swipebox/
admin/controller/extension/module/bigshop*
admin/language/en-gb/extension/module/bigshop*
admin/view/javascript/jscolor/
admin/view/template/extension/module/bigshop*
admin/controller/extension/module/category_accordion.php
catalog/controller/extension/module/bigshop*
catalog/language/en-gb/extension/module/category_accordion.php
catalog/language/en-gb/extension/module/bigshop_product_tab.php
admin/view/template/extension/module/category_accordion.tpl
admin/language/en-gb/extension/module/category_accordion.php
catalog/controller/extension/module/category_accordion.php
admin/view/stylesheet/admin-bigshop.css
system/storage/
image/catalog/logo-350x110.png
image/catalog/logo-350110.png
image/catalog/god.jpg
image/catalog/screen4.jpg
image/catalog/usb.jpg
